@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?4ud5v');
  src:  url('font/icomoon.eot?4ud5v#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?4ud5v') format('truetype'),
    url('font/icomoon.woff?4ud5v') format('woff'),
    url('font/icomoon.svg?4ud5v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stats-dots:before {
  content: "\e12d";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
